/* ---------------------------------------------------------------------------------------------------

Nicole Aitchison
https://github.com/nlaitchison

----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
		∆ GENERAL
---------------------------------------------------------------------------------------------------*/


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	box-sizing: border-box;
	font: 14px Helvetica;
	text-transform: uppercase;
	margin-bottom: 800px;
}

h1{
	font-weight: normal;
	text-align: center;
	display: block;
	width: 100%;
	font-size: 17px;
	line-height: 30px;
}

ul{
	list-style-type: none;
}

li{
	float: none;
}

.clearfix{
	clear: both;
}

section{
	box-sizing: border-box;
	padding: 10px 0;
	width: 100%;
}
.form-input{
	box-sizing: border-box;
	padding: 15px 0;
	width: 100%;
	float: left;
}
.form-input.pair{
	width: 50%;
}
.form-input.pair.left{
	padding-right: 8px;
}
.form-input.pair.right{
	padding-left: 8px;
}
.form-input.pair input{
	width: 100%;
}
label{
	box-sizing: border-box;
	display: block;
	padding-bottom: 5px;
}
input{
	box-sizing: border-box;
	display: block;
	padding: 12px 8px;
	text-transform: capitalize
}
.time input{
	box-sizing: border-box;
	width: 80px;
	float: left;
}
.colon{
	box-sizing: border-box;
	float: left;
	padding: 12px;
}

ul#s-results{
	padding: 10px 0 15px;
}

li{
	border-bottom: 1px solid #ddd;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	z-index: 200;
}

ul#s-results li{
	line-height: 26px;
	padding: 6px 0;	
}

li:after{
	content: "";
	display: table;
	clear: both;
}

li:first-child{
	border-top: 1px solid #ddd;
}

button{
  width: 100%;
  border-radius: 0px;
  text-transform: uppercase;
  margin: 12px auto 0;
  display: block;
  line-height: 35px;
  background: none;
  box-shadow: none;
  border: 1px solid #000;
  cursor: pointer;
  outline: none;
}

button#delete-all{
	border: 1px solid red;
	color: red;
}

ul#band-list{
	margin-top: 15px;
	font-size: 11px;
}

ul#band-list li:nth-child(even){
	background-color: #F2F2F2
	
}

span.time, span.band, span.stage, span.remove{
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 2px 10px 0;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	line-height: 35px;
}
span.time{
	width: 15%;
	padding: 2px 0 0;
}
span.band{
	width: 39%;
}
span.stage{
	width: 39%;
}
span.remove{
	width: 7%;
	color: red;
	cursor: pointer;
}

.main-container{
  /*margin-top: 70px;*/
  box-sizing: border-box;
  width: 100%;
}

.container{
		box-sizing: border-box;
  width: 92%; /* 73.68% 1050px*/
  max-width: 1324px;
  min-width: 300px;
  margin: 0 auto;
  clear: both;
}



