/* ---------------------------------------------------------------------------------------------------

-----Info

-----Color Swatch

-----Sections

∆ GENERAL
∆ GRID


----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
		∆ GENERAL
---------------------------------------------------------------------------------------------------*/


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	box-sizing: border-box;
	font: 14px Helvetica;
	text-transform: uppercase;
}

ul{
	list-style-type: none;
}

li{
	float: none;
}

.clearfix{
	clear: both;
}

section{
	box-sizing: border-box;
	padding: 10px 0;
	width: 100%;
}
.form-input{
	box-sizing: border-box;
	padding: 10px 0;
	width: 100%;
	float: left;
}
.form-input.pair{
	width: 50%;
}
.form-input.pair.left{
	padding-right: 5px;
}
.form-input.pair.right{
	padding-left: 5px;
}
.form-input.pair input{
	width: 100%;
}
label{
	box-sizing: border-box;
	display: block;
	padding-bottom: 5px;
}
input{
	box-sizing: border-box;
	display: block;
	padding: 8px;
	text-transform: capitalize
}
.time input{
	box-sizing: border-box;
	width: 50px;
	float: left;
}
.colon{
	box-sizing: border-box;
	float: left;
	padding: 5px 3px;
}

ul#s-results{
	padding: 5px 0 15px;
}

li{
	border-bottom: 1px solid #ddd;
	width: 100%;
}

ul#s-results li{
	line-height: 26px;
	padding: 6px 0;	
}

li:after{
	content: "";
	display: table;
	clear: both;
}

li:first-child{
	border-top: 1px solid #ddd;
}

button{
  width: 100%;
  border-radius: 0px;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  line-height: 27px;
  background: none;
  box-shadow: none;
  border: 1px solid #000;
}

ul#band-list{
	margin-top: 15px;
	font-size: 11px;
}

span.time, span.band, .stage{
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 2px 2px 0;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	line-height: 22px;
}
span.time{
	width: 20%;
}
span.band{
	width: 40%;
}
span.stage{
	width: 40%;
}


/* ---------------------------------------------------------------------------------------------------
    ∆ GRID
---------------------------------------------------------------------------------------------------*/

.main-container{
  /*margin-top: 70px;*/
  box-sizing: border-box;
  width: 100%;
}

.container{
		box-sizing: border-box;
  width: 92%; /* 73.68% 1050px*/
  max-width: 1324px;
  min-width: 300px;
  margin: 0 auto;
  clear: both;
}

.columns{
  float: left;
  box-sizing: border-box;
  padding: 0 1%;
  margin: 5px 0;
}

.left{
  box-sizing: border-box;
  padding-right: 15px;
}

.right{
  box-sizing: border-box;
  padding-left: 15px;
}

/* 12 column grid */
.one    { width: 8.33%; }
.two    { width: 16.66%; }
.three  { width: 25%; }     /* quarter */
.four   { width: 33.32%; }  /* third */
.five   { width: 41.65%; }
.six    { width: 50%; }     /* half */
.seven  { width: 58.31%; }
.eight  { width: 66.64%; }
.nine   { width: 75%; }     /* two thirds */
.ten    { width: 83.3%; }
.eleven { width: 91.63%; }
.twelve { width: 100%; }


@media only screen and (max-width: 959px){


}

@media only screen and (max-width: 767px) {


}

@media only screen and (max-width: 480px) {

  .columns { float: none; padding: 0; }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve { width: 100%; }

}


